.header {
    display: flex;
    justify-content: space-between;

    padding: 20px 28px;
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 60px;
        cursor: pointer;
    }

    &_right {
        display: flex;

        gap: 40px;
        align-items: center;
    }
    @media (max-width: 460px) {
        &__logo {
            gap: 30px;
            img {
                width: 60px;
            }
        }
        &_right {
            gap: 20px;
        }
    }
    @media (max-width: 400px) {
    padding: 20px 10px;

      &__logo {
          gap: 20px;
          img {
              width: 50px;
          }
      }
      &_right {
          gap: 15px;
      }
  }
}
